fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pgvector
alembic
pydantic-settings
langgraph
langgraph-checkpoint-postgres
langchain
langchain-google-genai
langchain-groq
langchain-huggingface
huggingface_hub
langchain-core
langchain-text-splitters
yfinance
python-multipart
pdfplumber
tenacity